

.inactiveCards{
  filter: grayscale(100%);
  opacity: 90%;
}

.homepagecont{
  padding-bottom:4em;
  margin-bottom:3em;
 
}
.homepagecont span{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.homepagecont span button{
  display:block; 
  color:midnightblue;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  background-color: azure;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
 
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background .5s ease;
  overflow: hidden;
  
}
.homepagecont span button:hover{
  background: transparent;
  border-color: azure;
  color: azure;
  
}

.homepagecontainer{
  display:flex;
  flex-direction: row;
}