

.inactiveCards{
  filter: grayscale(100%);
  opacity: 90%;
}

.homepagecont{
  padding-bottom:4em;
  margin-bottom:3em;
 
}
.homepagecont span{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.homepagecontainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


@media only screen and (max-width: 1000px) {
  .homepagecont span{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .homepagecontainer{
    display:flex;
    flex-direction: column-reverse;
    margin: 0 auto;
   }
   .homepagecont h2{
    text-align: center;
   }
  
 }
