.maincontent{
  max-width: 1000px;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
 
}

h1{
  flex:1;
  color:azure;
  font-size:36vw;
  text-align: center;
  letter-spacing: -6px;
}