body {
  background-color: lightslategray;
  display: block;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


@font-face {
  font-family: 'euro_technic_extended_outliBd';
  src: url('../src/assets/fonts/Euro Technic Extended Outline Bold.ttf') format('woff2'),
       url('../src/assets/fonts/Euro Technic Extended Outline Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;

}

.fancyfont{
  font-family: euro_technic_extended_outliBd; 
}


footer{
  background-color: midnightblue;
  padding:2rem;
  
  width:100%;
  display:flex;
  justify-content: space-around;
  z-index:21;
  margin-top:3em;
}
footer p {
  font-size: 12px;
  color: azure;
  
}



 .maincontent{
  max-width: 1000px;
  min-height: 260vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
 
}

h1{
  flex:1;
  color:azure;
  font-size:12vw;
  text-align: center;
  letter-spacing: -6px;
  flex-wrap: wrap;
  
}


.mainContent__img{
  z-index:2;
  position: absolute;
  top:50%;
}


.aboveMain{
  background-color: midnightblue;
  color:azure;
  padding:3rem;
  width:70%;
  margin: 0 auto;
  border-radius: 19px;
  padding-bottom:3em;
  margin-bottom:3em;
  z-index:10;
  position: relative;
}

.errorpage__wrapper{
  background-color: lightslategray;
  height:90vh;
  padding:1rem;
  top:30rem;
  z-index: 20;
  position: absolute;
  top:15%;
  width:100%;
}

.loader__centered{
  width:100%;
  position: relative;
  left:40%;
  top:-3rem;
  padding:3rem;
  height:900px;
}
.loader__centered h3{
  margin-bottom:2em;
  color: azure;
  font-size:30px;
}

@media only screen and (max-width: 900px) {
  footer p{
    
      width:80%;
      margin-left:1rem;
  
  }
  .loader__centered{
    position: relative;
    left:10%;
    top:-3rem;
    padding:3rem;
    height:700px;
  }
  
 }

@media only screen and (max-width: 600px) {
  footer{
    display:flex;
    flex-direction: column;
  }
  footer p{
    width:60%;
  }
 }